* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
      font-family: 'Volkhov', serif;
  }

  body {
      background-color: #E8F9FD;
  }

  header {
      padding: 30px;
      text-align: center;
      background-color: #0AA1DD;
      color: #E8F9FD;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 30px 13px 30px;
    text-align: center;
    background-color: #0AA1DD;
    color: #E8F9FD;
  }

  /* Form Section  */

  .form-container {
    background-color: #A0BCC2;
    border-radius: 25px;  
    padding: 60px 30px 30px 30px;
    width: 300px;
    height: 400px;
    margin: 13% auto 0 auto;
    box-shadow: 0 2px 5px #ccc;
  }


  /* Card Section */

  .contacts-container {
      display: flex;
      overflow: auto;
      height: auto;
      max-height: 450px;
      flex-wrap: wrap;
      padding-top: 10px;
      padding-right: 10px;
      justify-content: space-between;

  }

  .card-wrapper {
      display: grid;
      margin: 10px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, auto);
      background-color: #A0BCC2;
      border-radius: 10px;
      height: auto;
      max-height: 200px;
  }

  .picture-column {
    display: flex;
    padding: 10px;
  }

  .picture-column img {
    border-radius: 10px;
    height: auto;
    max-width: 150px;
  }

  .card h5 {
    margin-left: 6%;
  }

  .card p {
      margin-bottom: 0;
      margin-left: 6%;
  }

  .info-column {
      display: flex;
      flex-direction: column;
      padding: 10px;
  }

  @media screen and (max-width: 990px) {

    /* .responsive-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .form-container {
      background-color: #A0BCC2;
      border-radius: 25px;  
      padding: 60px 30px 30px 30px;
      width: 500px;
      height: 400px;
      margin: 13% 0 0 0;
      box-shadow: 0 2px 5px #ccc;
    } */

  }

