* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
      font-family: 'Volkhov', serif;
  }

  body {
      background-color: #E8F9FD;
  }

  header {
      padding: 30px;
      text-align: center;
      background-color: #0AA1DD;
      color: #E8F9FD;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 30px 13px 30px;
    text-align: center;
    background-color: #0AA1DD;
    color: #E8F9FD;
  }

  /* Form Section  */

  .form-container {
    background-color: #A0BCC2;
    border-radius: 25px;
    padding: 60px 30px 30px 30px;
    width: fit-content;
    height: 400px;
    margin: 13% 0 0 15%;
    box-shadow: 0 2px 5px #ccc;
  }


  /* Card Section */

  .contacts-container {
      padding-top: 2%;
      padding-right: 2%;
  }

  .card {
      background-color: #A0BCC2;
      border-radius: 10px;
  }

  .card img {
    border-radius: 10px;
    background-color: #A0BCC2;
    margin: 5px;
  }

  .card h5 {
    margin-left: 6%;
  }

  .card p {
      margin-bottom: 0;
      margin-left: 6%;
  }

  .info-container {
      padding-top: 13px;
  }

  .info-container button {
    position: absolute;
    right: 6px;
    bottom:6px;
  }



