* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
      font-family: 'Volkhov', serif;
  }

  body {
      display: flex;
      align-items: center;
      height: 100vh;
      width: 100%;
      background-color: #E8F9FD;
  }

  .wrapper {
    display: grid;
    grid-template-areas: 
    "header header"
    "form contacts"
    ;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto minmax(500px, 1fr);
  }

  .header {
      grid-area: header;
      width: 100%;
      padding: 10px;
      text-align: center;
      background-color: #0AA1DD;
      color: #E8F9FD;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 30px 30px 13px 30px;
    text-align: center;
    background-color: #0AA1DD;
    color: #E8F9FD;
  }

  /* Form Section  */

  .form-container {
    grid-area: form;
    align-self: center;
    justify-self: center;
    background-color: #A0BCC2;
    border-radius: 25px;  
    padding: 60px 30px 30px 30px;
    width: 300px;
    height: 400px;
  }


  /* Card Section */

  .contacts-container {
      grid-area: contacts;
      align-self: center;
      justify-self: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      overflow: auto;
      height: auto;
      max-height: 450px;
      width: auto;
      padding-top: 10px;
      padding-right: 10px;
  }

  .card-wrapper {
      display: grid;
      margin: 10px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, auto);
      background-color: #A0BCC2;
      border-radius: 10px;
      height: auto;
      width: auto;
  }

  .picture-column {
    display: flex;
    padding: 10px;
  }

  .picture-column img {
    border-radius: 10px;
    height: auto;
    width: auto;
    max-width: 150px;
  }

  .card h5 {
    margin-left: 6%;
  }

  .card p {
      margin-bottom: 0;
      margin-left: 6%;
  }

  .info-column {
      display: flex;
      flex-direction: column;
      padding: 10px;
  }

  @media screen and (max-width: 1080px) {


  }

